<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p style="border-bottom: solid 2px black;">■ Artist</p>
    <p class="album_text"><%= @album["artists"][0]["name"] %></p>
    <p style="border-bottom: solid 2px black;">■ Album</p>
    <p class="album_text"><%= @album["name"] %></p>
    <p style="border-bottom: solid 2px black;">■ Release Date</p>
    <p class="album_text"><%= @album["release_date"] %></p>
    <p><a href='<%= @album["external_urls"]["spotify"] %>'><img src='<%= @album["images"][1]["url"]%>'></a></p>
  </body>
</html>